* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background: rgb(48, 48, 48);
  background: radial-gradient(
    circle,
    rgba(48, 48, 48, 1) 100%,
    rgba(91, 91, 91, 1) 100%,
    rgba(255, 255, 255, 1) 100%
  );
}

nav ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul li a {
  color: white;
  font-size: 12px;
  font-weight: 600;
}

ul li a:hover {
  color: #fec402;
}

span {
  color: white;
  font-size: 12px;
  font-weight: 600;
  padding: 0 5px;
}

.content-search {
  display: flex;
  justify-content: center;
  width: 100%;
}

input[type="text"] {
  border: none;
  background-color: transparent;
  width: 90%;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.box {
  width: 100%;
  height: 40px;
  padding: 0 5px;
  display: flex;
  background-color: #303030;
  align-items: center;
  justify-content: space-around;
  border: 2px solid #856620;
}

.results {
  width: 100%;
  border: 2px solid #856620;
  margin-top: 10px;
}

ul {
  list-style: none;
  margin: 0;
}

.content-search {
  border: 2px solid #856620;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.content {
  padding: 5px 0;
}

h6 {
  text-align: center;
  font-size: 14px;
  margin: 0;
}
